In [4]:
# EXPLORING NYC PUBLIC SCHOOL TEST RESULT SCORES:
# Proyecto realizado en la plataforma datacamp.com como parte de la ruta Cientifico de Datos con Python

# 1. ¿Cuales escuelas de NYC tienen el mejor puntaje de matematicas?:

# Importamos librerias necesarias
import pandas as pd

# Cargamos el archivo
schools = pd.read_csv("schools.csv")

# Revisamos los datos
schools.head()

# Establecemos el punto de corte para los puntajes
cut_off = 0.8*800

# Construimos una tabla donde se muestre el nombre de la escuela y su puntaje promedio en matematicas para las escuelas que superan el punto de corte
best_math_schools = schools[schools['average_math'] > cut_off].sort_values(by="average_math", ascending=False)[['school_name', 'average_math']]

# Revisamos nuestro resultado
best_math_schools.head()

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

In [5]:
# 2. ¿Cuáles son las 10 mejores escuelas en función de los puntajes SAT combinados?:

# Retomamos nuestra tabla original
schools.head()

# Añadimos una columna total_SAT = average_math + average_reading + average_writing
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Ordenamos en orden descendiente y seleccionamos las columnas solicitadas por el ejercicio
top_10_schools = schools.sort_values(by = 'total_SAT', ascending = False)[['school_name', 'total_SAT']]

# Limitamos la cantidad de filas para obtener el top 10
top_10_schools = top_10_schools.head(10)
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [6]:
# 3. ¿Qué distrito escolar tiene la mayor desviación estándar en el puntaje SAT combinado?

# Retomamos nuestra tabla original
schools.head()

# Agrupamos las escuelas por municipio y calculamos los valores solicitados a 'total_SAT'
largest_std_dev = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

# Revisamos el resultado
largest_std_dev.head()

# Filtramos para obtener los datos correspondientes al mayor valor de desviación estandar
large_std_dev = largest_std_dev[largest_std_dev['std'] == largest_std_dev['std'].max()]

# Revisamos el resultado
#print(large_std_dev)

# Renombramos las columnas para que el resultado sea mas ilustrativo
large_std_dev = large_std_dev.rename(columns={'count':'num_schools','mean':'average_SAT','std':'std_SAT'})

print(large_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29